<main id="root"></main>
<script id="bootstrap-current-user" type="text/javascript">
<% if user_logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
<% end %>
</script>
