.home-container {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.home-banner-image-container {
  display: flex;
  position: relative;
  height: 368px;
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.home-banner-image {
  display: flex;
  width: 100%;
  height: 368px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-bar-container {
  display: flex;
  margin: -105px auto auto auto;
  box-shadow: 0 0 5px #ccc;
}

.search-bar-header {
  width: 1000px;
  height: 40px;
}

.featured-area-city {
  top: 50%;
  left: 50%;
  color: white;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
}

.page-header-title {
  width: 1049px;
  height: 56px;
  padding-top: 10px;
  margin-left: 5px;
  font-size: 45px;
  font-family: $lato;
  color: #333;
  font-weight: 700;
}

.content-body {
  height: 78px;
  display: flex;
  font-family: $lato;
  font-size: 14px;
  align-items: center;
}

.top-cuisines {
  height: 363px;
  width: 1049px;
  box-shadow: 0 0 5px #ccc;
  margin: auto;
  margin-top: 40px;
  background: white;
}

.top-cuisines-header {
  height: 48px;
  width: 1000px;
  font-family: $lato;
  color: #333;
  font-size: 22px;
  margin-left: 2%;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 20px;
}

.featured-areas {
  height: 600px;
  width: 1049px;
  box-shadow: 0 0 5px #ccc;
  margin: auto;
  margin-top: 40px;
  background: white;
}

.featured-areas-header {
  height: 48px;
  width: 1000px;
  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 22px;
  margin-left: 2%;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 20px;
}

.featured-area-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1050px;
  height: 165px;
  margin-top: 15px;
}

.featured-area-photo {
  height: 165px;
  width: 350px;
  position: relative;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.featured-locations-container {
  width: 100%;
}

.featured-locations {
  width: calc(100% - 20px);
  column-count: 4;
  column-gap: 30px;
  column-width: 25%;
  color: #333;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.featured-locations ul, li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282828;
  list-style: none;
  font-size: 15px;
  padding: 5px;
}

.featured-locations ul, li:hover {
  cursor: pointer;
}

.footer {
  margin-top: 50px;
  background: #383838;
  border-top: 1px solid rgba(0,0,0,.12);
  height: 100px;
  width: 100%;
}

.footer-info {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  font-family: sans-serif;
  align-items: center;
}

.footer-info a {
  margin: 8px;
}

// buttons

// select.select-size {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 35px;
//   width: 290px;
// }
//
// select.select-size:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }
//
// select.select-date {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 32px;
//   width: 145px;
//   margin-top: 30px;
// }
//
// select.select-date:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }
//
// select.select-time {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 32px;
//   width: 140px;
//   margin-top: 30px;
// }
//
// select.select-time:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }

.home-btn-submit-reservation {
  height: 30px;
  width: 160px;
  font-family: $lato;
  font-size: 14px;
  padding: 10px;
  background-color: #da3743;
  border-radius: 3px;
  text-align: center;
  border-color: #b8222d;
  color: #fff;
  margin-top: 20px;
  margin-left: 840px;
  display: flex;
  font-weight: lighter;
  justify-content: center;
}
