.home-banner-image-container {
  display: flex;
  position: relative;
  height: 368px;
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.home-banner-image {
  display: flex;
  width: 100%;
  height: 368px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-bar-container {
  position: relative;
  width: 1048px;
  height: 182px;
  background-color: white;
  margin-top: -105px;
  margin-left: 13%;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #ccc;

}
.search-bar-header {
  padding: 15px;
  width: 1000px;
  height: 40px;
}

.page-header-title {
  width: 1000px;
  height: 56px;
  padding-top: 10px;
  margin-left: 5px;
  font-size: 45px;
  font-family: $lato;
  color: #333;
  font-weight: 700;
}

.content-body {
  height: 78px;
  width: 1048px;
  display: flex;
  font-family: $lato;
  font-size: 14px;
  align-items: center;
}


// buttons

// select.select-size {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 35px;
//   width: 290px;
// }
//
// select.select-size:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }
//
// select.select-date {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 32px;
//   width: 145px;
//   margin-top: 30px;
// }
//
// select.select-date:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }
//
// select.select-time {
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   height: 32px;
//   width: 140px;
//   margin-top: 30px;
// }
//
// select.select-time:focus {
//   background-image:
//     linear-gradient(45deg, gray 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, gray 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: none;
//   outline: 0;
// }

.home-btn-submit-reservation {
  height: 30px;
  width: 160px;
  font-family: $lato;
  font-size: 14px;
  padding: 10px;
  background-color: #da3743;
  border-radius: 3px;
  text-align: center;
  border-color: #b8222d;
  color: #fff;
  margin-top: 20px;
  display: flex;
  font-weight: lighter;
  justify-content: center;
}
