.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $dark-blue;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  margin-left: 15px;
  position: relative;
  padding: 7px 9px;
}

.left-nav {
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  font-family: $lato;
  font-size: 15px;
}

.btn-signup {
  padding: 7px 9px;
  transition: background-color 0.3s;
  background-color: $dark-blue;
  border: 1px solid $darkest-blue;
  color: #fff;
}

.btn-signup:hover {
  background-color: $darkest-blue;
}

.btn-signup,
.btn-signin {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 54px;
}

.logo-text {
  font-size: 20px;
  font-family: $lato;
  padding-left: 5px;
}
