.restaurant-index-image {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.index-side-column {
  height: 1014px;
  width: 224px;
  display: flex;
  justify-content: column;
}

.search-results-container {
  width: 800px;
  display: flex;
  justify-content: row;
}

.restaurant-index-item {
  height: 180px;
  width: 760px;
  border-bottom: 2px solid rgba(0,0,0,.08);
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.restaurant-index-item-information {
  font-family: $lato;
  font-size: 14px;
  color: #666;
  margin: 10px;
}

.restaurant-index-item-name {
  font-family: $lato;
  font-size: 18px;
  color: #237B98;
  display: flex;
  justify-content: row;
  width: 300px;
}

.index-wrapper {
  height: 100%;
  width: 1024px;
  display: flex;
  margin-left: 15%;
}

.price-range-icons {
  height: 20px;
  width: 28px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.booking-amount {
  font-size: 13px;
  margin-top: 5px;
}

.search-image {
  position: relative;
  height: 289px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-search-bar-header {
  padding: 15px;
  width: 1000px;
  height: 40px;
}

.index-page-header-title {
  width: 1049px;
  height: 56px;
  padding-top: 10px;
  margin-left: 5px;
  font-size: 35px;
  font-family: $lato;
  color: #333;
  font-weight: 700;
}

h1.index-page-header-title {
    font-size: 27px;
    margin-left: 25px;
}

.index-search-bar-container {
  position: relative;
  width: 1049px;
  height: 182px;
  margin-top: -105px;
  margin-left: 13%;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #ccc;
}

.index-search-bar {
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  height: 49px;
  width: 806px;
  margin-top: 14px;
  margin-left: 20px;
  padding-left: 15px;
  font-family: $lato;
}

.view-restaurant {
  display: flex;
  margin-left: 150px;
  margin-top: 100px;
}

.btn-view-restaurant {
  height: 20px;
  width: 80px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 10px;
  background-color: #da3743;
  border-radius: 3px;
  text-align: center;
  border-color: #b8222d;
  color: #fff;
  margin-top: 20px;
  font-weight: lighter;
}
