.reservation-container {
  width: 320px;
  height: 320px;
  border-radius: 2px 2px 0px 0px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px #ccc;
  height: 340px;
}

.reservation-options {
  display: flex;
  flex-direction: row;
  font-family: $lato;
  font-size: 11px;
  margin: 15px;
}

.reservation-header {
  height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #d8d9db;
  padding-top: 8px;
  border-bottom: 1px solid #d8d9db;
  margin-left: 10px;
  margin-right: 10px;
}

.reservation-size {
  height: 22px;
  width: 288px;
  font-size: 13px;
  margin-left: 15px;
  display: flex;
  margin-top: 15px;
}

.left-reservation-date {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 13px;
  height: 5px;
  width: 0px;
}

.right-reservation-time {
  height: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 13px;
  height: 5px;
  margin-left: 4px;
  width: 0px;
}

.btn-submit-reservation {
  height: 30px;
  width: 270px;
  font-family: $lato;
  font-size: 14px;
  padding: 10px;
  background-color: #da3743;
  border-radius: 3px;
  text-align: center;
  border-color: #b8222d;
  color: #fff;
  margin-top: 20px;
  font-weight: lighter;
}

.btn-favorite {
  height: 30px;
  width: 280px;
  font-family: $lato;
  font-size: 13px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  margin-top: 20px;
  margin-left: 6px;
  font-weight: lighter;
  border: 1px solid #d8d9db;
  border-radius: 0px;
  background-color: white;
  text-align: center;
  box-shadow: 0;
}

.btn-favorite:hover {
  border: 1px solid #da3743;
}

.bookingAmt {
  font-size: 13px;
  margin: 15px;
  display: flex;
  justify-content: flex-start;
}

select.select-size {
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  height: 35px;
    width: 290px;
}

select.select-size:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: none;
  outline: 0;
}

select.select-date {
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  height: 32px;
  width: 140px;
  margin-top: 30px;
}

select.select-date:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: none;
  outline: 0;
}

select.select-time {
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  height: 32px;
  width: 140px;
  margin-top: 30px;
}

select.select-time:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: none;
  outline: 0;
}
