.restaurant-header {
  display: flex;
  flex-direction: row;
  font-family: $lato;
  font-size: 14px;
  margin-left: 13px;
  justify-content: flex-start;
  align-items: center;
}

.header-specifics {
  margin: 5px;
}
