.review-details {
  display: flex;
  align-items: center;
  font-size: 15px;
  align-items: center;
}

.review-form-question {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #404040;
}

.btn-write-review {
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
  align-items: center;
  color: #404040;
}
.review-detail {
  margin: 5px;
  display: flex;
}

.review-response {
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
  font-size: 14px;
  padding: 5px;
  color: #505050;
}

.review-response.collapsed{
  overflow: hidden;
  height: 45px;
}

.review-response.expanded{
  overflow: visible;
  height: auto;
}

.review-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(216, 217, 219);
}

.footer-icon {
  padding-left: 10px;
}

.read-more {
  color: rgb(218, 55, 67);
  text-decoration: none;
  font-size: 12.5px;
  height: 24px;
}
