.restaurant-container {
  // if i change to display block the image stretches across the back
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $lato;
}

.banner-image-container {
  display: flex;
  height: 306px;
  width: 100%;
  background-color: grey;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.restaurant-info-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1000px;
  height: 1000px;
  margin-top: -48px;
}

.restaurant-details {
  width: 640px;
  height: 48px;
}

.restaurant-details-header {
  height: 48px;
  background-color: white;
  border-radius: 2px 2px 0px 0px;
  top: 0;
  padding: 5px;
}

.restaurant-details-header > ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #d8d9db;
  margin: 10px;

}

.restaurant-details-header > ul > li {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  font-size: 12px;
}

.restaurant-details-header > ul > li:hover {
  border-bottom: 1px solid red;
  cursor: pointer;
}

.restaurant-name {
  font-size: 40px;
  font-weight: 900;
  margin: 25px;
  margin-bottom: 5px;
  overflow: hidden;
  margin-top: 40px;
  border-bottom: 1px solid #d8d9db;
  text-overflow: ellipsis;
  height: 100px;
  width: 608px;
}

.restaurant-description {
  font-size: 16px;
  margin: 25px;
}

.restaurant-description {
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
  font-size: 14px;
}

.restaurant-description.collapsed{
  overflow: hidden;
  height: 45px;
}

.restaurant-description.expanded{
  overflow: visible;
  height: auto;
}

.read-more {
  color: rgb(218, 55, 67);
  text-decoration: none;
  font-size: 12px;
  height: 24px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.restaurant-reservation {
  width: 320px;
  height: 930px;
  border-radius: 2px 2px 0px 0px;
  background-color: white;
  text-align: center;
}

.restaurant-reservation-header {
  margin: 10px;
  font-size: 20px;
}

.photo-collage {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
  background-color: black;
}

.photo-collage-item {
  display: flex;
  max-width: 25%;
  padding: 0 4px;
}
