.restaurant-index-image {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.visual-map-image {
  height: 64px;
  width: 192px;
  display: block;
  margin: 20px;
  border: 1px solid #B1D9E7;
  border-radius: 3px;
  background-size: 192px 64px;
  background-repeat: no-repeat;
  text-align: center;
}

// .visual-map-text {
//   height: 12px;
//   position: relative;
//   background-color: #237B98;
//   background-position: 12px center;
//   background-repeat: no-repeat;
//   margin-top: 16px;
//   margin-bottom: 16px;
//   font-size: 16px;
//   display: inline-block;
//   line-height: 13px;
//   padding: 9px 12px 9px 34px;
// }


.index-side-column {
  height: 1014px;
  width: 224px;
  display: flex;
  justify-content: column;
}

.search-results-container {
  height: 670px;
  width: 800px;
  display: flex;
  justify-content: row;
}

.restaurant-index-item {
  height: 180px;
  width: 760px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  list-style-type: none;
  display: flex;
  justify-content: row;
}

.restaurant-index-item-information {
  font-family: $lato;
  font-size: 14px;
  color: #666;
  margin: 10px;
}

.restaurant-index-item-name {
  font-family: $lato;
  font-size: 18px;
  color: #237B98;
  display: flex;
  justify-content: row;
}

.index-wrapper {
  height: 100%;
  width: 1024px;
  display: flex;
  margin-left: 15%;
}

.price-range-icons {
  height: 20px;
  width: 28px;
  color: black;
}

.booking-amount {
  font-size: 13px;
}

.index-search {

}
